body {
	background-image: -webkit-linear-gradient(30deg, #fdfbfb 0%, #ebedee 100%);
}

header,
footer {
	background: $primary;
}

.cursor-pointer {
	cursor: pointer;
}

.image-center {
	margin: 0 auto;
}

.text-white {
	color: white;
}

.white-bg {
	background: white;
}