.button {
	color: white;
	background: $secondary;
	border: none;
	border-radius: 8px;
	&:hover {
		color: white;
		border: none;
	}
	&:active, 
	&:focus {
		color: white;
	}
}

.is-outlined {
	background: transparent;
	color: white;
	border: solid 2px $secondary; 
}

.is-outlined:hover {
	background: $secondary;
	border: solid 2px $secondary; 
}

.is-rounded {
	border-radius:50px;
}

.button--singup {
	color: white;
	background: $secondary;
	&:hover {
		color: white;
	}
}

.button.is-large {
	font-size: inherit;
}

.is-text {
	color: $secondary !important;
	&:hover {
		background: transparent !important;
	}
}