.bets--hero {
	background: url("../../img/bets.jpg") center;
    background-size: cover;
	position: relative;
	height: 250px;
}

.card__bet {
    width: 70%;
    h3 {
	    color: $back-grey;
	    font-weight: bold;
    }
}

.card__bet__img {
    @include until(950px) {
        display: none;
    }
}

.img-sidebar {
	background: url("../../img/pronosticos.jpg");
    width: 100%;
    height: 99%;
    background-size: contain;
}