.bonuses-cta {
	background-image: url("../../img/bonuses-bg.jpg");
    background-size: cover;
    padding: 3%;
}

.bonuses-cta {
	h2 {
		color: white;
	    border-left: solid 8px $secondary;
		font-size: 2rem;
		font-weight: 900;
	    padding-left: 10px;
	}
}