.image-big,
.image-small { 
	position: relative;
}

.bonuses-info {
	color: white;
	font-size: 5.5rem;
	font-weight: 900;
    left: 50%;
    line-height: .5;
    text-transform: uppercase;
   	top: 50%;
    transform: translate(-50%, -50%); 
	z-index: 1;
	a {
		color:white;
	}

	span {
		font-size: 3rem;
	}
}

.button__bonuses {
	bottom: 5%;
	right: 5%;
	color: white !important;
	font-weight: 900;
	font-size: 1.5rem;
}


.image-small {

	.bonuses-info{
		font-size: 2.5rem;

		span{
			font-size: 1.4rem;
		}
	}

	.button__bonuses {
		font-size: 1rem;
	}
}

.bonuses-info,
.button__bonuses {
	position: absolute;
}

.bonuses--hero {
	background: url("../../img/bonuses.jpg") center;
 	background-size: cover;
	position: relative;
	height: 250px;
}

.vip-bonuses {
	min-height: 615px;
	@include until($desktop) {
		min-height: auto;
	}
}

.vip-bonuses-btn {
	position: absolute; 
	bottom: 4%; 
	width: 90% !important;
	@include until($desktop) {
		position: initial; 
		bottom: 0; 
		width: 100%;
	}
}

.title-bonuses {
	font-size: 1.5rem;
}


.free-plays {

	.bonuses-info{
		font-size: 3.5rem;

		span{
			font-size: 2rem;
		}
	}
}