footer {
	border-top: solid 5px darken($primary, 10%);
}

.sitemap {
	color: white;
	padding: 20px 0;
	margin: 0 auto;
}

.sitemap__block {
	h4 {
		font-size: 1.5rem;
		margin-bottom: 10px;
	}

	.sitemap--menu__item {
		margin-bottom: 5px;
	}

	.sitemap--menu {
	    border-left: solid 2px white;
    	padding-left: 10px;
    	min-height: 110px;
	}

}

.copyright {
	background: darken($primary, 10%);
	color: white;
	padding: 1% 0;
}