.blog--hero {
	background: url("../../img/blog.jpg") center;
    background-size: cover;
	position: relative;
	height: 250px;
}

.latest-blog__article {
	background: white;
    border-radius: 25px;
    margin: 20px 0;
}

.text-body {
	width: 90%;
}

.article-content {
	
	.title {
		width: 90%;
		a {
			color: $highlights-color;
		}
	}

	.text-body {
		color: $text-color;
	}
}

.section-title__blog-post {
	margin-top: -25px;;
    left: 45%;
}

.tag-blog {
	background-color: $secondary !important;
	a {
		color: white;

		&:hover {
			color: white;
		}
	}
}