.current-games {
    margin-right: 20px;

    @include until(770px) {
    	margin: 0 0 $space-out-medium 0;
  	}
}

.current-games__time {
	background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);

	p {
		color: white;
		font-size: 1.5rem;
	    font-weight: 900;
	}

	span {
		color: white;
	}
}

.current-games__title {
	background: $vipsportbook-dark-blue;

	h4, .broadcast {
    	color: #fff;
	}

	h4 {
		font-size: 1.2rem;
	    font-weight: 900;
	}

}