.main-header,
.navbar-start, 
.navbar {
  background: $primary;
}

.navbar-menu {
	padding: 0;
}

.navbar {
    padding-bottom: 15px;
}

.navbar-start {
	align-items: center;
	margin-left: auto;
	margin-right: 0;
}

.navbar .navbar-item {
	color: white;
	text-transform: uppercase;
	&:hover{
		background: transparent;
		color: $secondary;
	}
}

.navbar-burger {
    color: white;
}