.main-header,
.navbar-start, 
.navbar {
  background: $primary;
}

.navbar {
    padding-bottom: 15px;
}

.navbar-start {
	align-items: center;
	margin-left: auto;
	margin-right: 0;
}

.navbar .navbar-item {
	color: white;
	text-transform: uppercase;
	&:hover{
		background: transparent;
		color: $secondary;
	}
}

.has-dropdown>.navbar-link {
	color: white;
	text-transform: uppercase;

	&::after {
		border: 1px solid $secondary;
	    border-right: 0;
	    border-top: 0;
	}
}

.has-dropdown>.navbar-dropdown {
	.navbar-item {
		color: $primary;
		@include until($desktop) {
			color: white;
		}
	}
}

.navbar-burger {
    color: white;
}

.navbar-menu {
	padding: 0;
	@include query($small) {
		margin-left: 10px;

		.navbar-link:hover {
		    background: transparent;
		    color: white !important;
		}
	} 
}
