.singup-cta {
	background: $primary;
	border-radius: 25px;
	right: 8%;
	padding: 1% 2%;
	position: absolute;
	top: 5%;
    width: 30%;
	z-index: 1;

	@include until(1380px) {
		border-radius: 0;
    	position: initial;
    	width: 100%;
	}

	h2 {
		border-bottom: solid 1px white;
		color: white;
		font-size: 1.5rem;
		font-weight: 900;
		padding-bottom: $space-base;
	}

	form, 
	h2 {
		@include until(1380px) {
			margin: 0 15%;
			padding: $space-out-medium 0;
			width: 70%;
		}

		@include until(768px) {
			margin: 0 5%;
			width: 90%;
		}
	}

	.terms {
		color: white;
		font-size: 14px;
		margin: 10px 0 ;
	}
}

.field {
	padding-top: 8px;
}

.label--singup {
	color: white;
}

.singup--item:hover {
	color: white;
}