.hero {
	position: relative;
}

.steps {
	align-items: center;
	background: white;
	border-radius: 25px;
    bottom: 0;
    display: flex;
	margin: 0 15%;
	padding: 2%;
	position: absolute;
    width: 70%;

	@include until($desktop) {
		border-radius: 0;
    	position: initial;
   		margin: 0;
    	width: 100%;

    	.center-content {
		    width: 100%;
    		padding-top: 5%;
    	}
	}


	.steps__title {
		border-left: 5px solid $secondary;
		color: $secondary;
		font-size: 2rem;
		font-weight: 900;
		line-height: 1;
		padding-left: 10px;
	}
}

.steps__img,
.steps__content {
	display: inline-block;
}

.steps__img-container {
	img {
    	width: 150px;
	}

	p {	
		font-size: 14px;
	}
}

.display-center {
	display: flex;
	align-items: center;
	justify-content: center;
}