.tags--hero {
	background: url("../../img/tags.jpg") center;
	background-size: cover;
	position: relative;
	height: 250px;
	width: 100%;
}

.tag--item {
	background: white;
    border-radius: 15px;
    padding: 10px;
    margin: 20px 0;
}