.hidden-height {
	height: 100px;
}

.hidden-height__2x {
	height: 250px;
}

.is-inherit {
	display: inherit;
}

.text-center {
	text-align: center;
}

.column__flex {
    align-items: center;
	display: flex;
    justify-content: center;
}

.is-m-top {
	margin-top:auto;
}

.is-m-right {
	margin-right: 10px;
}

.title__main {
	color: white;
    text-transform: uppercase;
}

.p-10 {
	padding: 10px
}

.p-20 {
	padding: 20px
}

.p-30 {
	padding: 30px
}

.p-40 {
	padding: 40px
}

.pt-30 {
	padding-top: 30px
}

.pt-50 {
	padding-top: 50px
}

.pt-60 {
	padding-top: 60px
}

.pt-70 {
	padding-top: 70px
}

.pt-80 {
	padding-top: 80px
}

.mt-5 {
	margin-top: 5px;
}

.mt-30 {
	margin-top: 30px;
}

.section-title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	border-radius: 15px;
}

.card-info {
    min-height: 265px;
}