.hidden-height {
	height: 100px;
}

.hidden-height__2x {
	height: 250px;
}

.is-inherit {
	display: inherit;
}

.text-center {
	text-align: center;
}

.column__flex {
    align-items: center;
	display: flex;
    justify-content: center;
}

.is-m-top {
	margin-top:auto;
}

.is-m-right {
	margin-right: 10px;
}

.title__main {
	color: white;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.p-10 {
	padding: 10px
}

.p-20 {
	padding: 20px
}

.p-30 {
	padding: 30px
}

.p-40 {
	padding: 40px
}

.pt-50 {
	padding-top: 50px
}

.section-title {
	position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
}