// Config vars

// Main Colors
$vipsportbook-dark-blue: #151c2e;
$vipsportbook-pink-red: #f4113f;
$back-grey: #777777;
$ligh-grey: #94979b;


// Web colors
$primary: $vipsportbook-dark-blue;
$secondary: $vipsportbook-pink-red;
$text-color: $ligh-grey;
$highlights-color: $back-grey;

// Main font
$font-base: 'Roboto', sans-serif; 
//$font-contrast:;
$font-size: 18px;

// Inside components
$space-base: 1rem;
$space-small: 2rem; //32px
$space-medium: 4rem; // 56px
$space-large: 6rem; // 100px
$space-x-large:10rem; // 160px
$space-xx-large:12rem; // 192px

// Between components
$space-out-small: 1.25rem; // 20px
$space-out-medium: 2rem; // 32px
$space-out-large: 4rem; // 56px
$space-out-x-large: 10rem; // 160px
$space-out-xx-large: 15rem; // 240px

// border radius 
$radius-principal: 10px;
$radius-btn: 10px;

// shadows 
$shadow-soft:  0 0 25px #4F4E4D;
$shadow-mid:  0px 8px 12px #4F4E4D;
$shadow-hard:  0px 6px 5px 1px #4F4E4D;

// resonsive

$small: 600px;