@import "~bulma";
@import "abstracts/variables";
@import "base/base";
@import "base/btn";
@import "components/nav";
@import "components/subNavbar";
@import "components/slider";
@import "components/steps";
@import "components/singup-home";
@import "components/footer";
