@import "~bulma";
@import "abstracts/mixins";
@import "abstracts/variables";
@import "base/base";
@import "base/btn";
@import "base/forms";
@import "layouts/layouts";
@import "components/nav";
@import "components/subNavbar";
@import "components/slider";
@import "components/steps";
@import "components/singup-home";
@import "components/crypto";
@import "components/bonuses";
@import "components/live-games";
@import "components/latest-blog";
@import "components/contact-home";
@import "components/sing-up";
@import "components/about-us";
@import "components/bonuses-cta";
@import "components/bets";
@import "components/tags";
@import "components/faq";
@import "components/dictionary";
@import "components/sports-rules";
@import "components/footer";
